* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  /* text-transform: capitalize; */
}

.css-df17o1 {
  position: fixed;
}
#root {
  max-width: 1360px;
  margin: 0 auto;
}
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
.row {
  margin: 0;
  width: 100%;
}
.container {
  margin: 0;
}
/* body {
  background: #2f363f; */
/* } */

.landinng-div {
  width: 100%;
  background-color: #333945;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.landinng-div .landing-title {
  font-size: 30px;
  text-transform: capitalize;
  color: #d63031;
  font-weight: 500;
}
.landinng-div .descripiton {
  font-size: 15px;
}
@media (min-width: 960px) {
  .landinng-div .landing-title {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .footer-title {
    color: #ffffff;
    font-size: 40px;
  }
  .footer-desc {
    color: #fff;
    font-size: 20px;
  }
}
.footer-title {
  color: #ffffff;
  font-size: 25px;
}
.footer-desc {
  color: #fff;
  font-size: 15px;
}
footer {
  margin-bottom: 0;
}
.myfooter {
  bottom: 0;
  background-color: #2f363f;
  padding: 10px 10px;
  text-align: center;
  height: 35vh;
  max-height: 350px;
}

.main-content {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  padding: 20px 25px;
  background: rgb(255, 253, 253);
}
.card {
  margin: 10px 5px;
}
.sort {
  background-color: #333945;
  color: #fff;
}
.sort:hover,
.sort:active,
.sort:focus {
  background-color: #333945;
  color: #fff;
}

.admin-list {
  width: 100%;
  margin: 5px auto;
}
.adminLeftSide h5 {
  width: 100%;
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .admin-list .admin-list-item a {
    font-size: 14px;

    padding: 0;
    color: red;
  }
}
@media (max-width: 480px) {
  .landinng-div .landing-title {
    font-size: 27px;
  }
  .landinng-div .descripiton {
    font-size: 10px;
  }
  .main-content {
    margin: 10px auto;
  }
  .card {
    text-transform: capitalize;
    margin: 5px 5px;
    width: 350px;
  }
  .admin-list {
    width: 90%;
  }
  .admin-list .admin-list-item a {
    font-size: 12px;

    padding: 0;
    color: red;
  }
  .adminRightSide .card h4 {
    font-size: 20px;
  }
}
.cart-header {
  font-size: 35px;
}
.adminLeftSide {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.adminRightSide {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.adminLeftSide .card {
  width: 90%;
  border-radius: 20px;
}

.adminRightSide .card {
  width: 90%;
  border-radius: 20px;
}

.home-main-content {
  /* text-align: center; */
  justify-content: space-between;
  padding: 10px 5px;
}

.home-main-content .card {
  margin: 5px 5px;
}
.cart-produts {
  text-align: center;
}
.cart-produts .card {
  width: 90%;
  margin: 8px auto;
}
@media (max-width: 530px) {
  .home-header h4 {
    font-size: 18px;
    width: 60%;
  }
  .cart-produts h4 {
    font-size: 18px;
    font-weight: 500;
  }
  .cart-header {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .home-header h4 {
    font-size: 15px;
  }
  .cart-produts h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .home-main-content .card {
    width: 300px;
  }
  .cart-produts .card {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .home-main-content .card {
    margin: 5px auto;
  }
  .cart-header {
    font-size: 23px;
  }
}
