.navbar-custom {
  background: #2f363f;
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 3px 5px;
  padding-left: 50px;
}
.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 25px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active {
  color: #fff;
}

.navbar-custom .navbar-nav li .nav-link {
  color: #fff;
}
