form {
  border: 2px solid green;
  width: 100%;
  padding: 20px 10px;
  background-color: #d1d1d1;
}

form .form-group input {
  width: 100%;
  padding: 7px 7px;
  border-radius: 10px;
  border: 1px solid red;
  margin: 10px 5px;
}
.signupbtn {
  color: #fff;
  border-radius: 10px;
  padding: 7px 35px;
}
