.navbar-custom {
  background: #2f363f;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 25px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active {
  color: #fff;
}

.navbar-custom .navbar-nav li .nav-link {
  color: #fff;
}
